*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #EFF2F5;
    font-family: sans-serif;
}
.main_container{
    background-color: #fff;
    width: 50vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap :20px;
    padding-bottom: 30px;
}
h2{
    text-align: center;
    padding: 20px 0px ;
}
.dflex{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.font_size{
    font-size: 11px;
}
.width200{
    width: 200px;
}
.width150{
    width: 120px;
}
input,select{
    border: none;
    background-color: rgb(240, 242, 243);
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    outline: none;
}
input:focus{
    outline: 2px solid palevioletred;
}
select:focus{
    outline: 2px solid palevioletred;
}
.btn button{
    padding: 7px;
    border-radius: 5px;
    border: none;
    /* border: 1px solid black; */
    cursor: pointer;
}
.net_capital_gains{
    background-color:  #EBF9F4;
    padding: 15px 0px;
    border-radius: 5px;
}
.net_capital_gains p{
    text-align: center;
}
.net_capital_gains h3{
    padding-top:5px; ;
    text-align: center;
    color:#0FBA83;
}
.tax_you_need_to_pay{
    background-color: #EBF2FF;
    padding: 15px 0px;
    border-radius: 5px;
}
.tax_you_need_to_pay p{
 text-align: center;
}
.tax_you_need_to_pay h3{
    color: #0141CF;
    padding-top:5px; ;
    text-align: center;
}
.btnclick{
    outline: 1px solid rgb(52, 120, 238);
    color: rgb(52, 120, 238);
}
.hide{
    display: none;
}
@media (max-width: 768px){
    .main_container{
        width: 95vw;
    }
    h2{
        font-size: 20px;
    }
}